.education-container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    color: white;
}

.educations {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    text-align: center;

    td {
        padding: 10px;
    }
}
