@import "../../../styles/variables";

.education-container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    color: white;
}

.educations {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    @media (min-width: $lg) {
        padding-top: 60px;
    }
}