@import "../../../styles/variables";

.flags-container {
    display: flex;
    justify-content: space-around;
}

.flag {
    width: 20px;
    height: auto;
    cursor: pointer;
    margin-right: 3px;

    @media (min-width: $md) {
        width: 25px;
        margin-right: 3px;
        margin-bottom: 5px;
    }

    @media (min-width: $lg) {
        width: 35px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}