.social-media-container {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    padding: 30px 0px;
}

.email-tooltip {
    background-color: #f5f5f9;
    font-family: Jura;
    max-width: 310px;
    color: rgba(0, 0, 0, 0.87);
    .title {
        font-size: 20px;
    }
}


