.personal-container {
    background-color: white;
    font-family: Sequel;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 57px;
    
    .role-name {
        font-size: 30px;
    }
}