@import "../../../styles/variables";

.about-container {
    background-color: white;
    color: black;
    padding: 30px 10px;

    @media (min-width: $lg) {
        padding: 100px 20px;
    }

    .roles-container {
        font-weight: bold;
        text-transform: uppercase;
        font-family: Sequel;
        font-size: 20px;

        .text {
            font-size: 15px;
            height: 41.6px;

            @media (min-width: 500px) {
                font-size: 20px;
                height: 50px;
            }

            @media (min-width: $lg) {
                font-size: 30px;
            }
        }

        @media (min-width: $md) {
            font-size: 30px;
            padding-bottom: 30px;
        }

        @media (min-width: $lg) {
            font-size: 57px;
            padding-bottom: 50px;
        }
    }
}

.paragraph-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

    @media (min-width: $lg) {
        flex-direction: row;
    }

    .text-container {
        z-index: 1;
        background-color: black;
        padding: 5px;
        margin: 10px;
        font-size: 12px;
        box-shadow: $container-small-box-shadow;

        @media (min-width: $md) {
            box-shadow: $container-box-shadow;
            padding: 20px;
            font-size: 15px;
        }

        @media (min-width: $lg) {
            margin: 100px 0px 0px -60px;
            font-size: 21px;
        }
    }
}

.avatar-container {
    display: flex;
    flex-direction: column;
    z-index: 0;

    .avatar {
        width: 150px;
        border: 2px solid black;
        box-shadow: $container-small-box-shadow;

        @media (min-width: $lg) {
            box-shadow: $container-box-shadow;
            border: 3px solid black;
            width: 400px;
        }
    }

    button {
        display: none;

        @media (min-width: $lg) {
            display: auto;
        }

        font-family: Bai Jamjuree;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: -30px;
        margin-left: 10px;
        max-width: 80px;
        font-size: 13px;
        background-color: black;
        color: white;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.658);
        cursor: pointer;

        &:hover {
            background-color: white;
            color: black;
            border: 1px solid white;
            font-weight: bold;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}