.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px 0px;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin-top: 50px;
    .row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        .margin {
            margin-right: 15px;
        }
        .prefix-width {
            width: 140px;
        }
    }

    button {
        font-family: Jura !important;
        font-size: 20px !important;
        background-color: black !important;
        &:hover {
            background-color: rgba(34, 34, 34) !important;
        }
    }
}
