.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.link {
    margin-left: 20px;
}
