@import "styles/globals";
@import "styles/variables";

@font-face {
    font-family: "Sequel";
    src: local("Sequel"), url(./assets/fonts/sequel.woff2) format("woff2");
}

@font-face {
    font-family: "Bebas";
    src: local("Bebas"), url(./assets/fonts/bebas.ttf) format("opentype");
}

@font-face {
    font-family: "Bai Jamjuree";
    src: local("Bai Jamjuree"), url(./assets/fonts/bai_jamjuree.ttf) format("opentype");
}

@font-face {
    font-family: "Bai Jamjuree";
    src: local("Bai Jamjuree"), url(./assets/fonts/bai_jamjuree_bold.ttf) format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Jura";
    src: local("Jura"), url(./assets/fonts/jura.ttf) format("opentype");
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50px;
}
