.education-block-container {
    display: flex;
    margin-bottom: 50px;
}

.start {
    text-align: start;
}

.university-education-container,
.course-education-container,
.school-education-container {
    display: flex;
    font-size: 17px;
    .education {
        max-width: 700px;
        .education-img {
            border: 5px solid white;
            border-radius: 10px;
        }
        img {
            max-width: 200px;
        }
        .clip {
            width: 50px;
            transform: rotate(40deg);
            margin-bottom: -55px;
            left: 0;
        }
    }
}

.university-education-container {
    justify-content: start;
}

.course-education-container {
    justify-content: center;
}

.school-education-container {
    justify-content: end;
}
