.abilities-container {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
        margin-bottom: 30px;
        font-family: Sequel;
        font-weight: normal;
        font-size: 28px;
    }
}
