.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Bebas;
}

.sections {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding: 10px 0px;
}

.link {
    margin-left: 20px;
    cursor: pointer;
    &:hover {
        font-weight: bold;
        text-decoration: underline;
    }
}
