.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sections {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.link {
    margin-left: 20px;
    cursor: pointer;
    &:hover {
        font-weight: bold;
        text-decoration: underline;
    }
}
